__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
*.swo

.dockerignore

pgdata/
redisdata/

logs/
**/logs/
*.log

temp/
**/temp/

.DS_Store
Thumbs.db

api_service/helper.py

ai_service/src/services/food_recognition_service/models/